[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
pytest-xdist = "*"
pytest-json = "*"
flake8 = "*"

[packages]
requests = "==2.18.4"
requests-mock = "==1.5.0"
requests-toolbelt = "==0.8.0"
resilient = "==30.0.86"
urllib3 = "==1.22"
virtualenv = "==15.1.0"

[requires]
python_version = "2.7"
