[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
pytest-xdist = "*"
flake8 = "*"

[packages]
asn1crypto = "==0.24.0"
certifi = "==2017.11.5"
cffi = "==1.11.2"
chardet = "==3.0.4"
cryptography = "==2.1.4"
enum34 = "==1.1.6"
idna = "==2.6"
ipaddress = "==1.0.19"
pycparser = "==2.18"
requests = "==2.18.4"
six = "==1.11.0"
urllib3 = "==1.22"
virtualenv = "==15.1.0"
pyOpenSSL = "==17.5.0"

[requires]
python_version = "2.7"
