
# Development
**/AGENTS.md @yuvalbenshalom @ShahafBenYakir
/.ai/ @yuvalbenshalom @ShahafBenYakir

# Marketplace Related - Marketplace PMs only
/Config/approved_tags.json @israelpoli @demisto/content-leaders
/Config/approved_usecases.json @israelpoli @demisto/content-leaders
/Tests/Marketplace/landingPage_sections.json @israelpoli @demisto/content-leaders
/Config/approved_categories.json @israelpoli @demisto/content-leaders
/Config/core_packs_list.json @israelpoli @demisto/content-leaders
/Config/core_packs_mpv2_list.json @israelpoli @demisto/content-leaders
/Config/corepacks_override.json @israelpoli

# Docker native image
/Tests/docker_native_image_config.json @JudahSchwartz @shmuel44

# PANW Products
/Packs/Palo_Alto_Networks_Enterprise_DLP/ @DeanArbel
/Packs/PAN-OS/Integrations/ @lironcohen272

# Important Integrations
/Packs/QRadar/Integrations/QRadar_v3/* @ilappe
/Packs/Slack/Integrations/* @amshamah419 @rshunim
/Packs/SplunkPy/Integrations/SplunkPy/* @ilappe
/Packs/ContentManagement/* @DeanArbel @kamalq97
/Packs/TAXIIServer/Integrations/TAXII2Server/* @Ni-Knight
/Packs/FeedTAXII/Integrations/FeedTAXII2/* @Ni-Knight
/Packs/rasterize/Integrations/rasterize/* @MosheEichler @DeanArbel

# Important Scripts
/Packs/CommonScripts/Scripts/SetGridField/* @melamedbn
/Packs/CommonScripts/Scripts/ParseEmailFiles/* @moishce
/Packs/ApiModules/Scripts/MicrosoftApiModule @noydavidi
/Packs/ApiModules/Scripts/MicrosoftGraphMailApiModule @noydavidi
/Packs/ApiModules/Scripts/EWSApiModule @noydavidi
/Packs/ApiModules/Scripts/TAXII2ApiModule/* @Ni-Knight
/Packs/CommonScripts/Scripts/StixCreator/* @Ni-Knight

# Common Packs
/Packs/CommonTypes/ @melamedbn @idovandijk
/Packs/CommonPlaybooks/ @melamedbn @idovandijk
/Packs/CommonDashboards/ @melamedbn @idovandijk
/Packs/ContentManagement/ @talzich
/Packs/CommonTypes/IndicatorTypes/* @Ni-Knight
/Packs/CommonTypes/Layouts/* @Ni-Knight

# Indicators Formatters
/Packs/CommonScripts/Scripts/ExtractDomainAndFQDNFromUrlAndEmail/* @Ni-Knight
/Packs/CommonScripts/Scripts/FormatURL/* @Ni-Knight
/Packs/CommonScripts/Scripts/ExtractAttackPattern/* @Ni-Knight
/Packs/CommonScripts/Scripts/VerifyCIDR/* @Ni-Knight
/Packs/CommonScripts/Scripts/VerifyIPv6Indicator/* @Ni-Knight
/Packs/CommonScripts/Scripts/ExtractEmailV2/* @Ni-Knight
/Packs/CommonScripts/Scripts/UnEscapeIPs/* @Ni-Knight

# SDK Related
.pre-commit-config_template.yaml @yedidyacohenpalo
validation_config.toml @yedidyacohenpalo

# XDR Related
/Packs/CortexXDR/Integrations/ @jlevypaloalto @Shellyber
/Packs/Core/Integrations/ @jlevypaloalto @Shellyber
/Packs/ApiModules/Scripts/CoreIRApiModule/* @jlevypaloalto @Shellyber

# Demisto Class
Packs/ApiModules/Scripts/DemistoClassApiModule/DemistoClassApiModule.py @dantavori

# TIM Related
/Packs/TAXIIServer/Integrations/* @MosheEichler
/Packs/FeedTAXII/Integrations/* @MosheEichler
/Packs/EDL/Integrations/* @MosheEichler
/Packs/FeedJSON/Integrations/* @MosheEichler
/Packs/FeedMitreAttackv2/* @MosheEichler
/Packs/ApiModules/Scripts/TAXII2ApiModule/* @MosheEichler
/Packs/ApiModules/Scripts/NGINXApiModule/* @MosheEichler

# Platform Automation
/Packs/AzureDevOps/ @omerKarkKatz
/Packs/Jira/ @omerKarkKatz
/Packs/ServiceNow/ @omerKarkKatz
/Packs/MicrosoftTeams/ @omerKarkKatz
/Packs/Slack/ @omerKarkKatz

/Packs/Okta/Integrations/Okta_v2 @Shellyber
/Packs/Core @Shellyber
/Packs/CortexXDR @Shellyber
/Packs/SentinelOne @Shellyber
/Packs/CrowdStrikeFalcon @Shellyber @talzich
/Packs/CrowdStrikeFalconSandbox @Shellyber
/Packs/CrowdStrikeFalconStreamingV2 @Shellyber
/Packs/MicrosoftExchangeOnline @Shellyber @noydavidi
/Packs/AggregatedScripts @Shellyber
/Packs/MicrosoftExchangeOnPremise/ @Shellyber @noydavidi
/Packs/Office365AndAzureAuditLog @Shellyber @noydavidi
/Packs/MicrosoftManagementActivity @Shellyber @noydavidi
/Packs/Microsoft365Defender @Shellyber @noydavidi
/Packs/AzureSentinel/ @Shellyber
/Packs/MicrosoftDefenderAdvancedThreatProtection @Shellyber @noydavidi
/Packs/MicrosoftCloudAppSecurity @Shellyber @noydavidi
/Packs/FeedAzureADConnectHealth @Shellyber @noydavidi
/Packs/AzureRiskyUsers @Shellyber @noydavidi
/Packs/MicrosoftGraphListener @Shellyber @noydavidi
/Packs/MicrosoftGraphUser @Shellyber @noydavidi
/Packs/MicrosoftGraphMail @Shellyber @noydavidi
/Packs/MicrosoftGraphSecurity @Shellyber @noydavidi
/Packs/MicrosoftGraphFiles @Shellyber @noydavidi


/Packs/AWS @Moish-Gilboa @RotemAmit
/Packs/AWS-AccessAnalyzer @Moish-Gilboa @RotemAmit
/Packs/AWS-ACM @Moish-Gilboa @RotemAmit
/Packs/AWS-Athena @Moish-Gilboa @RotemAmit
/Packs/AWS-CloudTrail @Moish-Gilboa @RotemAmit
/Packs/AWS-CloudWatchLogs @Moish-Gilboa @RotemAmit
/Packs/AWS-EC2 @Moish-Gilboa @RotemAmit
/Packs/AWS-EKS @Moish-Gilboa @RotemAmit
/Packs/AWS-Enrichment-Remediation @Moish-Gilboa @RotemAmit
/Packs/AWS-GuardDuty @Moish-Gilboa @RotemAmit
/Packs/AWS-IAM @Moish-Gilboa @RotemAmit
/Packs/AWS-IAMIdentityCenter @Moish-Gilboa @RotemAmit
/Packs/AWS-ILM @Moish-Gilboa @RotemAmit
/Packs/AWS-Lambda @Moish-Gilboa @RotemAmit
/Packs/AWS-NetworkFirewall @Moish-Gilboa @RotemAmit
/Packs/AWS-Organizations @Moish-Gilboa @RotemAmit
/Packs/AWS-Route53 @Moish-Gilboa @RotemAmit
/Packs/AWS-S3 @Moish-Gilboa @RotemAmit
/Packs/Aws-SecretsManager @Moish-Gilboa @RotemAmit
/Packs/AWS-SecurityHub @Moish-Gilboa @RotemAmit
/Packs/AWS-SecurityLake @Moish-Gilboa @RotemAmit
/Packs/AWS-SNS @Moish-Gilboa @RotemAmit
/Packs/AWS-SNS-Listener @Moish-Gilboa @RotemAmit
/Packs/AWS-SQS @Moish-Gilboa @RotemAmit
/Packs/AWS_DynamoDB @Moish-Gilboa @RotemAmit
/Packs/AWS_ELB @Moish-Gilboa @RotemAmit
/Packs/AWS_Sagemaker @Moish-Gilboa @RotemAmit
/Packs/AWS_SystemManager @Moish-Gilboa @RotemAmit
/Packs/AWS_WAF @Moish-Gilboa @RotemAmit
/Packs/GoogleCloudCompute @Moish-Gilboa @RotemAmit
/Packs/GoogleCloudFunctions @Moish-Gilboa @RotemAmit
/Packs/GoogleCloudLogging @Moish-Gilboa @RotemAmit
/Packs/GoogleCloudSCC @Moish-Gilboa @RotemAmit
/Packs/GoogleCloudStorage @Moish-Gilboa @RotemAmit
/Packs/GoogleCloudTranslate @Moish-Gilboa
/Packs/OracleCloudInfrastructure @Moish-Gilboa
/Packs/OracleCloudInfrastructureFeed @Moish-Gilboa
/Packs/Azure @Moish-Gilboa @RotemAmit
/Packs/AzureCompute @Moish-Gilboa @RotemAmit
/Packs/AzureDataExplorer @Moish-Gilboa @RotemAmit
/Packs/AzureFirewall @Moish-Gilboa @RotemAmit
/Packs/AzureKeyVault @Moish-Gilboa @RotemAmit
/Packs/AzureKubernetesServices @Moish-Gilboa @RotemAmit
/Packs/AzureLogAnalytics @Moish-Gilboa @RotemAmit
/Packs/AzureNetworkSecurityGroups @Moish-Gilboa @RotemAmit
/Packs/AzureResourceGraph @Moish-Gilboa @RotemAmit
/Packs/AzureSQLManagement @Moish-Gilboa @RotemAmit
/Packs/AzureStorage @Moish-Gilboa @RotemAmit
/Packs/AzureStorageContainer @Moish-Gilboa @RotemAmit
/Packs/AzureStorageFileShare @Moish-Gilboa @RotemAmit
/Packs/AzureStorageQueue @Moish-Gilboa @RotemAmit
/Packs/AzureStorageTable @Moish-Gilboa @RotemAmit
/Packs/AzureWAF @Moish-Gilboa @RotemAmit
/Packs/AnsibleAzure @Moish-Gilboa
/Packs/MicrosoftECM @Moish-Gilboa
/Packs/MicrosoftGraphDeviceManagement @Moish-Gilboa
/Packs/MicrosoftIntune @Moish-Gilboa
/Packs/AzureSecurityCenter @Moish-Gilboa @RotemAmit

# Event Collectors
/Packs/AbnormalSecurity/Integrations/AbnormalSecurityEventCollector/ @JasBeilin
/Packs/Absolute/Integrations/Absolute/ @JasBeilin
/Packs/AdminByRequest/Integrations/AdminByRequestEventCollector/ @JasBeilin
/Packs/Akamai_SIEM/Integrations/Akamai_SIEM/ @JasBeilin
/Packs/AlibabaActionTrail/Integrations/AlibabaActionTrailEventCollector/ @JasBeilin
/Packs/AMP/Integrations/CiscoAMPEventCollector/ @JasBeilin
/Packs/AnthropicClaude/Integrations/AnthropicClaude/ @JasBeilin
/Packs/AppSentinelsAi/Integrations/AppSentinelsAi/ @JasBeilin
/Packs/Armis/Integrations/ArmisEventCollector/ @JasBeilin
/Packs/AtlassianConfluenceCloud/Integrations/AtlassianConfluenceCloud/ @JasBeilin
/Packs/BeyondTrust/Integrations/BeyondTrustPrivilegeManagementCloud/ @JasBeilin
/Packs/BitSight/Integrations/BitSightEventCollector/ @JasBeilin
/Packs/BitwardenPasswordManager/Integrations/BitwardenPasswordManager/ @JasBeilin
/Packs/BloodHoundEnterprise/Integrations/BloodHoundEnterprise/ @JasBeilin
/Packs/Box/Integrations/BoxEventsCollector/ @JasBeilin
/Packs/CarbonBlackDefense/Integrations/CarbonBlackEndpointStandardEventCollector/ @JasBeilin
/Packs/Celonis/Integrations/CelonisEventCollector/ @JasBeilin
/Packs/CiscoAppDynamics/Integrations/CiscoAppDynamicsEventCollector/ @JasBeilin
/Packs/CiscoSpark/Integrations/CiscoWebexEventCollector/ @JasBeilin
/Packs/CiscoThousandEyes/Integrations/CiscoThousandEyes/ @JasBeilin
/Packs/Citrix/Integrations/CitrixCloudEventCollector/ @JasBeilin
/Packs/Citrix/Integrations/CitrixDaasEventCollector/ @JasBeilin
/Packs/CloudflareZeroTrust/Integrations/CloudflareZeroTrustEventCollector/ @JasBeilin
/Packs/Code42/Integrations/Code42EventCollector/ @JasBeilin
/Packs/CohesityHelios/Integrations/CohesityHeliosEventCollector/ @JasBeilin
/Packs/CybelAngel/Integrations/CybelAngelEventCollector/ @JasBeilin
/Packs/CyberArkEPM/Integrations/CyberArkEPMEventCollector/ @JasBeilin
/Packs/CyberArkIdentity/Integrations/CyberArkIdentityEventCollector/ @JasBeilin
/Packs/Darktrace/Integrations/DarktraceEventCollector/ @JasBeilin
/Packs/DeCYFIR/Integrations/DecyfirEventCollector/ @JasBeilin
/Packs/DigitalGuardian/Integrations/DigitalGuardianARCEventCollector/ @JasBeilin
/Packs/DigitalShadows/Integrations/ReliaQuestGreyMatterDRPEventCollector/ @JasBeilin
/Packs/Docusign/Integrations/Docusign/ @JasBeilin
/Packs/Dropbox/Integrations/DropboxEventCollector/ @JasBeilin
/Packs/Druva/Integrations/DruvaEventCollector/ @JasBeilin
/Packs/DuoAdminApi/Integrations/DuoEventCollector/ @JasBeilin
/Packs/Elasticsearch/Integrations/ElasticsearchEventCollector/ @JasBeilin
/Packs/ExabeamSecurityOperationsPlatform/Integrations/ExabeamSecOpsPlatform/ @JasBeilin
/Packs/ExtraHop/Integrations/ExtrahopRevealXEventCollector/ @JasBeilin
/Packs/FireEyeETP/Integrations/FireEyeETPEventCollector/ @JasBeilin
/Packs/FireEyeHX/Integrations/FireEyeHXEventCollector/ @JasBeilin
/Packs/ForcepointDLP/Integrations/ForcepointEventCollector/ @JasBeilin
/Packs/GenericAPIEventCollector/Integrations/GenericAPIEventCollector/ @JasBeilin
/Packs/GenesysCloud/Integrations/GenesysCloud/ @JasBeilin
/Packs/GenetecSecurityCenter/Integrations/GenetecSecurityCenterEventCollector/ @JasBeilin
/Packs/GitGuardian/Integrations/GitGuardianEventCollector/ @JasBeilin
/Packs/GitHub/Integrations/GitHubEventCollector/ @JasBeilin
/Packs/GitLab/Integrations/GitLabEventCollector/ @JasBeilin
/Packs/GoogleApigee/Integrations/GoogleApigeeEventCollector/ @JasBeilin
/Packs/Halcyon/Integrations/Halcyon/ @JasBeilin
/Packs/HashiCorpTerraform/Integrations/HashiCorpTerraform/ @JasBeilin
/Packs/HelloWorld/Integrations/HelloWorldEventCollector/ @JasBeilin
/Packs/HPEArubaCentral/Integrations/HPEArubaCentralEventCollector/ @JasBeilin
/Packs/IBMGuardium/Integrations/IBMSecurityGuardium/ @JasBeilin
/Packs/IBMMaaS360Security/Integrations/IBMMaaS360SecurityEventCollector/ @JasBeilin
/Packs/IBMSecurityVerify/Integrations/IBMSecurityVerify/ @JasBeilin
/Packs/IBMStorageScale/Integrations/IBMStorageScale/ @JasBeilin
/Packs/iManageThreatManager/Integrations/iManageThreatManager/ @JasBeilin
/Packs/InfobloxBloxOne/Integrations/InfobloxBloxOneThreatDefenseEventCollector/ @JasBeilin
/Packs/IronscalesEventCollector/Integrations/IronscalesEventCollector/ @JasBeilin
/Packs/iZOOlogic/Integrations/iZOOlogic/ @JasBeilin
/Packs/JamfProtect/Integrations/JamfProtectEventCollector/ @JasBeilin
/Packs/KeeperSecurity/Integrations/KeeperSecurity/ @JasBeilin
/Packs/KnowBe4_KMSAT/Integrations/KnowBe4KMSATEventCollector/ @JasBeilin
/Packs/Koi/Integrations/Koi/ @JasBeilin
/Packs/ManageEngine/Integrations/ManageEngineEventCollector/ @JasBeilin
/Packs/MenloSecurity/Integrations/MenloSecurity/ @JasBeilin
/Packs/Mimecast/Integrations/MimecastEventCollector/ @JasBeilin
/Packs/Mimecast/Integrations/MimecastEventCollectorV2/ @JasBeilin
/Packs/Monday/Integrations/MondayEventCollector/ @JasBeilin
/Packs/MongoDBAtlas/Integrations/MongoDBAtlasEventCollector/ @JasBeilin
/Packs/NetBox/Integrations/NetBoxEventCollector/ @JasBeilin
/Packs/NetQuestOMX/Integrations/NetQuestOMX/ @JasBeilin
/Packs/Netskope/Integrations/NetskopeEventCollector/ @JasBeilin
/Packs/Netskope/Integrations/NetskopeEventCollector_v2/ @JasBeilin
/Packs/OktaASA/Integrations/OktaASA/ @JasBeilin
/Packs/OktaAuth0/Integrations/OktaAuth0EventCollector/ @JasBeilin
/Packs/OneLogin/Integrations/OneLoginEventCollector/ @JasBeilin
/Packs/OnePassword/Integrations/OnePassword/ @JasBeilin
/Packs/OpenAI/Integrations/OpenAiChatGPTV3/ @JasBeilin
/Packs/Orca/Integrations/OrcaEventCollector/ @JasBeilin
/Packs/PrismaSaasSecurity/Integrations/SaasSecurityEventCollector/ @JasBeilin
/Packs/ProofpointEmailSecurity/Integrations/ProofpointEmailSecurityEventCollector/ @JasBeilin
/Packs/ProofpointIsolation/Integrations/ProofpointIsolationEventCollector/ @JasBeilin
/Packs/ProofpointThreatResponse/Integrations/ProofpointThreatResponseEventCollector/ @JasBeilin
/Packs/qualys/Integrations/Qualysv2/ @JasBeilin
/Packs/RadwareCloudDDoSProtectionServices/Integrations/RadwareCloudDDoSProtectionServices/ @JasBeilin
/Packs/RecordedFuture/Integrations/RecordedFutureEventCollector/ @JasBeilin
/Packs/RunZero/Integrations/RunZeroEventCollector/ @JasBeilin
/Packs/SafeNet_Trusted_Access/Integrations/SafeNetTrustedAccessEventCollector/ @JasBeilin
/Packs/SailPointIdentityNow/Integrations/SailPointIdentityNowEventCollector/ @JasBeilin
/Packs/Salesforce/Integrations/SalesForceEventCollector/ @JasBeilin
/Packs/SAP_BTP/Integrations/SAPBTP/ @JasBeilin
/Packs/SAPCloudForCustomerC4C/Integrations/SAPCloudForCustomerC4C/ @JasBeilin
/Packs/SaviyntEIC/Integrations/SaviyntEICEventCollector/ @JasBeilin
/Packs/SecurityScorecard/Integrations/SecurityScorecardEventCollector/ @JasBeilin
/Packs/Shodan/Integrations/Shodan_v2/ @JasBeilin
/Packs/SymantecCloudSOC/Integrations/SymantecCloudSOCEventCollector/ @JasBeilin
/Packs/TeamViewer/Integrations/TeamViewerEventCollector/ @JasBeilin
/Packs/TrendMicroEmailSecurity/Integrations/TrendMicroEmailSecurityEventCollector/ @JasBeilin
/Packs/TrendMicroVisionOne/Integrations/TrendMicroVisionOneEventCollector/ @JasBeilin
/Packs/TwilioSendGrid/Integrations/TwilioSendGrid/ @JasBeilin
/Packs/Uptycs/Integrations/UptycsEventCollector/ @JasBeilin
/Packs/Vectra_AI/Integrations/VectraAIEventCollector/ @JasBeilin
/Packs/VeloCloud/Integrations/VeloCloudEventCollector/ @JasBeilin
/Packs/VercaraUltraDNS/Integrations/VercaraUltraDNS/ @JasBeilin
/Packs/WithSecure/Integrations/WithSecureEventCollector/ @JasBeilin
/Packs/Workday/Integrations/WorkdayEventCollector/ @JasBeilin
/Packs/Workday/Integrations/WorkdaySignOnEventCollector/ @JasBeilin
/Packs/ZeroNetworksSegment/Integrations/ZeroNetworksSegmentEventCollector/ @JasBeilin
/Packs/Zoom/Integrations/ZoomEventCollector/ @JasBeilin

# Asset Collectors
/Packs/CyberArkPAS/Integrations/CyberArkISP/ @JasBeilin
/Packs/JamfProtect/Integrations/JamfProtectEventCollector/ @JasBeilin
/Packs/qualys/Integrations/Qualysv2/ @JasBeilin
/Packs/Rapid7_Nexpose/Integrations/Rapid7_Nexpose/ @JasBeilin
/Packs/Tenable_io/Integrations/Tenable_io/ @JasBeilin
/Packs/Tenable_sc/Integrations/Tenable_sc/ @JasBeilin