# Marketplace Related - Marketplace PMs only
/Config/approved_tags.json @yaakovpraisler @bakatzir @GuyLibermanPA @demisto/content-leaders
/Config/approved_usecases.json @yaakovpraisler @bakatzir @GuyLibermanPA @demisto/content-leaders
/Tests/Marketplace/landingPage_sections.json @yaakovpraisler @bakatzir @GuyLibermanPA @demisto/content-leaders
/Config/approved_categories.json @yaakovpraisler @bakatzir @GuyLibermanPA @demisto/content-leaders
/Config/core_packs_list.json @yaakovpraisler @bakatzir @GuyLibermanPA @demisto/content-leaders
/Config/core_packs_mpv2_list.json @yaakovpraisler @bakatzir @GuyLibermanPA @demisto/content-leaders
/Config/corepacks_override.json @yaakovpraisler

# Docker native image
/Tests/docker_native_image_config.json @JudahSchwartz @shmuel44

# Test Collection
/Tests/conf.json @sapirshuker

# PANW Products
/Packs/Palo_Alto_Networks_Enterprise_DLP/ @DeanArbel
/Packs/PAN-OS/Integrations/ @jlevypaloalto

# Important Integrations
/Packs/QRadar/Integrations/QRadar_v3/* @jbabazadeh
/Packs/Slack/Integrations/* @amshamah419 @rshunim
/Packs/SplunkPy/Integrations/SplunkPy/* @ilappe
/Packs/MicrosoftExchangeOnPremise/Integrations @amshamah419
/Packs/MicrosoftExchangeOnline/Integrations @amshamah419 @thefrieddan1
/Packs/ContentManagement/* @adi88d
/Packs/TAXIIServer/Integrations/TAXII2Server/* @Ni-Knight
/Packs/FeedTAXII/Integrations/FeedTAXII2/* @Ni-Knight
/Packs/rasterize/Integrations/rasterize/* @ilaredo

# Important Scripts
/Packs/CommonScripts/Scripts/SetGridField/* @altmannyarden
/Packs/CommonScripts/Scripts/ParseEmailFiles/* @moishce
/Packs/ApiModules/Scripts/MicrosoftApiModule @michal-dagan
/Packs/ApiModules/Scripts/MicrosoftGraphMailApiModule @michal-dagan
/Packs/ApiModules/Scripts/TAXII2ApiModule/* @Ni-Knight
/Packs/CommonScripts/Scripts/StixCreator/* @Ni-Knight
/Packs/Base/Scripts/CommonServerPython/CommonServerPython.py @RosenbergYehuda @demisto/content-leaders

# Common Packs
/Packs/CommonTypes/ @altmannyarden @idovandijk
/Packs/CommonPlaybooks/ @altmannyarden @idovandijk
/Packs/CommonDashboards/ @altmannyarden @idovandijk
/Packs/ContentManagement/ @mmhw
/Packs/CommonTypes/IndicatorTypes/* @Ni-Knight
/Packs/CommonTypes/Layouts/* @Ni-Knight

# Indicators Formatters
/Packs/CommonScripts/Scripts/ExtractDomainAndFQDNFromUrlAndEmail/* @Ni-Knight
/Packs/CommonScripts/Scripts/FormatURL/* @Ni-Knight
/Packs/CommonScripts/Scripts/ExtractAttackPattern/* @Ni-Knight
/Packs/CommonScripts/Scripts/VerifyCIDR/* @Ni-Knight
/Packs/CommonScripts/Scripts/VerifyIPv6Indicator/* @Ni-Knight
/Packs/CommonScripts/Scripts/ExtractEmailV2/* @Ni-Knight
/Packs/CommonScripts/Scripts/UnEscapeIPs/* @Ni-Knight

# SDK Related
.pre-commit-config_template.yaml @SamuelFain @YuvHayun
validation_config.toml @YuvHayun

# XDR Related
/Packs/CortexXDR/Integrations/ @tcarmeli1
/Packs/Core/Integrations/ @tcarmeli1
/Packs/ApiModules/Scripts/CoreIRApiModule/* @tcarmeli1

# Demisto Class
Packs/ApiModules/Scripts/DemistoClassApiModule/DemistoClassApiModule.py @dantavori

# TIM Related
/Packs/TAXIIServer/Integrations/* @MLainer1
/Packs/FeedTAXII/Integrations/* @MLainer1
/Packs/EDL/Integrations/* @MLainer1
/Packs/FeedJSON/Integrations/* @MLainer1
/Packs/FeedMitreAttackv2/* @MLainer1
/Packs/ApiModules/Scripts/TAXII2ApiModule/* @MLainer1
/Packs/ApiModules/Scripts/NGINXApiModule/* @MLainer1

# ML scripts
/Packs/ML/ @jlevypaloalto
/Packs/PhishingURL/ @jlevypaloalto
/Packs/Phishing/Scripts/PhishingDedupPreprocessingRule @jlevypaloalto
/Packs/Phishing/Scripts/FindDuplicateEmailIncidents @jlevypaloalto
/Packs/Base/Scripts/DrawRelatedIncidentsCanvas@jlevypaloalto
/Packs/Campaign/Scripts/FindEmailCampaign/ @jlevypaloalto
/Packs/CortexXDR/Scripts/DBotGroupXDRIncidents/ @jlevypaloalto
/Packs/CommonScripts/Scripts/DBotUpdateLogoURLPhishing/ @jlevypaloalto
/Packs/Base/Scripts/FindSimilarIncidentsByText/ @jlevypaloalto
/Packs/Base/Scripts/DBotTrainTextClassifierV2/ @jlevypaloalto
/Packs/Base/Scripts/DBotShowClusteringModelInfo/ @jlevypaloalto
/Packs/Base/Scripts/DBotPredictPhishingWords/ @jlevypaloalto
/Packs/Base/Scripts/DBotFindSimilarIncidents/ @jlevypaloalto
/Packs/Base/Scripts/DBotTrainClustering/ @jlevypaloalto
/Packs/Base/Scripts/DBotBuildPhishingClassifier/ @jlevypaloalto
/Packs/Base/Scripts/DBotPreprocessTextData/ @jlevypaloalto
/Packs/Base/Scripts/DBotFindSimilarIncidentsByIndicators/ @jlevypaloalto
/Packs/Base/Scripts/DBotSuggestClassifierMapping/ @jlevypaloalto
/Packs/Base/Scripts/GetMLModelEvaluation/ @jlevypaloalto
/Packs/Base/Scripts/DBotMLFetchData/ @jlevypaloalto
