# Marketplace related
/Tests/Marketplace/approved_tags.json @demisto/content-leaders @michalgold
/Tests/Marketplace/approved_usecases.json @demisto/content-leaders @michalgold

# Important integrations
/Packs/Jira/Integrations/JiraV2/* @demisto/content-leaders
/Packs/ServiceNow/Integrations/ServiceNowv2/* @demisto/content-leaders
/Packs/EWS/Integrations/EWSv2/* @demisto/content-leaders
/Packs/ArcSightESM/Integrations/ArcSightESMv2/* @demisto/content-leaders
/Packs/QRadar/Integrations/QRadar_v2/* @demisto/content-leaders
/Packs/Slack/Integrations/Slack/* @demisto/content-leaders
/Packs/SplunkPy/Integrations/SplunkPy/* @demisto/content-leaders
/Packs/Active_Directory_Query/Integrations/Active_Directory_Query/* @demisto/content-leaders
/Packs/VirusTotal/Integrations/integration-VirusTotal_5.5.yml @demisto/content-leaders

# Important scripts
/Packs/CommonScripts/Scripts/SetGridField/* @yaakovi
/Packs/CommonScripts/Scripts/SearchIncidentsV2/* @demisto/content-leaders