node_modules
.DS_Store
.idea
.vscode
_site
TestData/EmailWithNonUnicodeAttachmentName.eml
TestData/EmailWithNonUnicodeSubject.eml
Integrations/SymantecMSS/test_data/SymantecXML.txt
*.pyc
*.swp
.pytest_cache
.python-version
CommonServerPython.py
*Module.py
!Packs/ApiModules/Scripts/*/*Module.py
!Packs/Base/Scripts/CommonServerPython/CommonServerPython.py
!Packs/Base/Scripts/CommonServerPowerShell/CommonServerPowerShell.ps1
CommonServerUserPython.py
CommonServerPowerShell.ps1
demistomock.py
demistomock.ps1
!Tests/demistomock/demistomock.py
!Tests/demistomock/demistomock.ps1
Tests/filter_file.txt
Tests/id_set.json
.mypy_cache
Scripts/*/*_unified.yml
Integrations/*/*_unified.yml
Beta_Integrations/*/*_unified.yml
Packs/*/*/*/*_unified.yml
conftest.py
!Tests/scripts/dev_envs/pytest/conftest.py
venv
failed_unittests.txt
.python-version
Scripts/**/__init__.py
Integrations/**/__init__.py
Packs/**/__init__.py

# Environment and reports
.demisto-sdk-conf
.hypothesis
.demisto-sdk-report
.env
.envrc

# coverage related
/coverage_report
.coverage
.demisto-sdk-report