flake8==3.7.8
requests==2.22.0
PyYAML==5.1.2
pykwalify==1.7.0
demisto-py==2.0.5
pytest==5.2.1
pytest-mock==1.11.1
ruamel.yaml==0.16.5
pipenv==2018.11.26
autopep8==1.4.4
mypy==0.730
beautifulsoup4==4.8.1
pypdf2==1.26.0