flake8==3.9.2
bandit==1.7.0
demisto-py>=3.0.2
git+https://github.com/demisto/demisto-sdk.git@1.5.8-hot-fix-v2
pytest==6.2.1
pytest-mock==3.4.0
requests-mock==1.8.0
ruamel.yaml<0.17
pipenv==2020.11.15
autopep8==1.5.4
mypy==0.782
networkx==2.5
gitpython==3.1.11
beautifulsoup4==4.9.3
pypdf2==1.26.0
freezegun==0.3.12
vulture==1.5
git+https://github.com/npsolve/parinx.git@6493798ceba8089345d970f71be4a896eb6b081d#egg=parinx
pylint==2.6.0
coloredlogs==15.0
pandas==1.2.0
timeout-decorator==0.5.0
sendgrid==6.6.0
blessings==1.7
slack_sdk==3.11.2
