flake8==3.8.3
bandit==1.6.2
demisto-py==2.0.22
requests==2.23.0
PyYAML==5.3.1
pylint==1.9.5
pykwalify==1.7.0
pytest==4.6.5
pytest-mock==2.0.0
beautifulsoup4==4.8.1
pypdf2==1.26.0
requests-mock==1.8.0
git+https://github.com/coyo8/parinx.git@6493798ceba8089345d970f71be4a896eb6b081d
vulture==1.5
