flake8==3.8.3
bandit==1.6.2
demisto-py==2.0.22
demisto-sdk==11.222
pytest==6.1.2
pytest-mock==3.3.1
requests-mock==1.8.0
ruamel.yaml==0.16.5
pipenv==2020.8.13
autopep8==1.5.4
mypy==0.782
networkx==2.5
gitpython==3.1.11
beautifulsoup4==4.8.1
pypdf2==1.26.0
freezegun==0.3.12
vulture==1.5
git+https://github.com/coyo8/parinx.git@6493798ceba8089345d970f71be4a896eb6b081d
pylint==2.6.0
coloredlogs==14.0
pandas==1.1.0
timeout-decorator==0.5.0
