[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "==5.2.1"
pylint = "*"
flake8 = "==3.7.9"
bandit = "==1.6.2"
demisto-py = "==2.0.11"
demisto-sdk = "==1.1.1"
pytest-mock = "==1.11.1"
requests-mock = "==1.7.0"
ruamel-yaml = "==0.16.5"
pipenv = "==2018.11.26"
autopep8 = "==1.4.4"
mypy = ">=0.761"
networkx = ">=2.4"
beautifulsoup4 = "==4.8.1"
pypdf2 = "==1.26.0"
freezegun = "==0.3.12"
vulture = "==1.5"

[requires]
# python_version = "3.7"