[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
flake8 = "*"

[packages]
aiodns = "==2.0.0"
aiohttp = "==3.6.2"
async-timeout = "==3.0.1"
attrs = "==19.3.0"
certifi = "==2019.11.28"
cffi = "==1.13.2"
chardet = "==3.0.4"
dateparser = "==0.7.2"
funcy = "==1.14"
idna = "==2.8"
multidict = "==4.6.1"
olefile = "==0.46"
pycares = "==3.0.0"
pycparser = "==2.19"
python-dateutil = "==2.8.1"
pytz = "==2019.3"
regex = "==2019.11.1"
requests = "==2.22.0"
six = "==1.13.0"
slackclient = "==2.5.0"
tzlocal = "==2.0.0"
urllib3 = "==1.25.7"
yarl = "==1.4.2"
PySocks = "==1.7.1"
PyYAML = "==5.2"

[requires]
python_version = "3.8"
