[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "==5.0.1"
pytest-mock = "*"
requests-mock = "*"
pytest-asyncio = "*"
pytest-xdist = "*"
pytest-datadir-ng = "*"
freezegun = "*"
flake8 = "*"

[packages]
certifi = "==2019.11.28"
cffi = "==1.13.2"
chardet = "==3.0.4"
cryptography = "==2.8"
dateparser = "==0.7.2"
funcy = "==1.14"
idna = "==2.8"
olefile = "==0.46"
pycparser = "==2.19"
python-dateutil = "==2.8.1"
pytz = "==2019.3"
regex = "==2019.11.1"
requests = "==2.22.0"
six = "==1.13.0"
tzlocal = "==2.0.0"
urllib3 = "==1.25.7"
PyJWT = "==1.7.1"
PySocks = "==1.7.1"
PyYAML = "==5.2"

[requires]
python_version = "3.7"
