[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"

[dev-packages]
types-requests = "*"
pytest-mock = "*"
requests-mock = "*"

[requires]
python_version = "3.9"
