[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "==5.0.1"
flake8 = "*"
pytest-mock = "*"

[packages]
xlsxwriter = "*"

[requires]
python_version = "3.7"
