[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytz = "*"
pytest-mock = "*"
requests-mock = "*"
pytest-asyncio = "*"
flake8 = "*"
vulture = "*"
pytest-xdist = "*"
pytest-datadir-ng = "*"
freezegun = "*"
pytest-json = "*"
vcrpy = "*"
pytest-cov = "*"
hypothesis = "*"

[packages]
pytest = "*"
requests = "*"
json = "*"

[requires]
python_version = "3.10"
