[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
pytest-asyncio = "*"
pytest-xdist = "*"
pytest-datadir-ng = "*"
freezegun = "*"
pytest-json = "*"
vcrpy = "*"
pytest-cov = "*"
hypothesis = "*"
flake8 = "*"

[packages]
aiohttp = "==3.8.1"
aiosignal = "==1.2.0"
async-timeout = "==4.0.2"
attrs = "==21.2.0"
base58 = "==2.1.1"
bitarray = "==1.2.2"
certifi = "==2021.10.8"
charset-normalizer = "==2.0.9"
cytoolz = "==0.11.2"
dateparser = "==1.0.0"
eth-abi = "==2.1.1"
eth-account = "==0.5.6"
eth-hash = "==0.3.2"
eth-keyfile = "==0.5.1"
eth-keys = "==0.3.3"
eth-rlp = "==0.2.1"
eth-typing = "==2.2.2"
eth-utils = "==1.10.0"
filelock = "==3.0.12"
frozenlist = "==1.2.0"
funcy = "==1.16"
hexbytes = "==0.2.2"
idna = "==3.3"
ipfshttpclient = "==0.8.0a2"
jsonschema = "==3.2.0"
lru-dict = "==1.1.7"
multiaddr = "==0.0.9"
multidict = "==5.2.0"
netaddr = "==0.8.0"
olefile = "==0.46"
parsimonious = "==0.8.1"
protobuf = "==3.19.1"
pycryptodome = "==3.12.0"
pyrsistent = "==0.18.0"
python-dateutil = "==2.8.2"
pytz = "==2021.1"
regex = "==2021.7.6"
requests = "==2.26.0"
requests-file = "==1.5.1"
rlp = "==2.0.1"
six = "==1.16.0"
tldextract = "==3.1.0"
toolz = "==0.11.2"
tzlocal = "==2.1"
urllib3 = "==1.26.7"
varint = "==1.0.2"
web3 = "==5.25.0"
websockets = "==9.1"
yarl = "==1.7.2"
PySocks = "==1.7.1"
PyYAML = "==5.4.1"

[requires]
python_version = "3.9"
