[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
pytest-xdist = "*"
pytest-json = "*"
flake8 = "*"

[packages]
certifi = "==2020.11.8"
chardet = "==3.0.4"
dateparser = "==0.7.6"
funcy = "==1.15"
idna = "==2.10"
luminateapi = "==2.1"
oauthlib = "==2.1.0"
olefile = "==0.46"
python-dateutil = "==2.8.1"
pytz = "==2020.4"
regex = "==2020.11.13"
requests = "==2.25.0"
requests-file = "==1.5.1"
requests-oauthlib = "==1.0.0"
six = "==1.15.0"
tldextract = "==2.2.3"
tzlocal = "==2.1"
urllib3 = "==1.26.2"
PySocks = "==1.7.1"
PyYAML = "==5.3.1"

[requires]
python_version = "2.7"
