[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "==5.0.1"
pytest-mock = "*"
requests-mock = "*"
pytest-asyncio = "*"
pytest-xdist = "*"
pytest-datadir-ng = "*"
freezegun = "*"
pytest-json = "*"
flake8 = "*"

[packages]
certifi = "==2019.9.11"
chardet = "==3.0.4"
dateparser = "==0.7.2"
idna = "==2.8"
olefile = "==0.46"
python-dateutil = "==2.8.0"
pytz = "==2019.2"
regex = "==2019.8.19"
requests = "==2.22.0"
six = "==1.12.0"
tzlocal = "==2.0.0"
urllib3 = "==1.25.3"
PySocks = "==1.7.0"
PyYAML = "==5.1.2"

[requires]
python_version = "3.7"
