[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
pytest-xdist = "*"
pytest-json = "*"
pytest-cov = "*"
flake8 = "*"

[packages]
freezegun = "*"
"backports.functools-lru-cache" = "==1.6.3"
beautifulsoup4 = "==4.9.3"
bs4 = "==0.0.1"
certifi = "==2021.5.30"
chardet = "==4.0.0"
dateparser = "==0.7.6"
funcy = "==1.16"
idna = "==2.10"
lxml = "==4.6.3"
olefile = "==0.46"
python-dateutil = "==2.8.2"
pytz = "==2021.1"
regex = "==2021.7.6"
requests = "==2.26.0"
requests-file = "==1.5.1"
six = "==1.16.0"
soupsieve = "==1.9.6"
tldextract = "==2.2.3"
tzlocal = "==2.1"
urllib3 = "==1.26.6"
PySocks = "==1.7.1"
PyYAML = "==5.4.1"

[requires]
python_version = "2.7"
