[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
pytest-xdist = "*"
pytest-json = "*"
pytest-cov = "*"
flake8 = "*"

[packages]
freezegun = "*"
appdirs = "==1.4.3"
certifi = "==2017.4.17"
chardet = "==3.0.4"
idna = "==2.5"
pyparsing = "==2.2.0"
requests = "==2.18.1"
six = "==1.10.0"
urllib3 = "==1.21.1"
virtualenv = "==15.1.0"
PyPDF2 = "==1.26.0"

[requires]
python_version = "2.7"
