[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "*"
flask = "*"
netaddr = "*"
dateparser = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
pytest-asyncio = "*"
pytest-xdist = "*"
pytest-datadir-ng = "*"
freezegun = "*"
pytest-json = "*"
vcrpy = "*"
flake8 = "*"

[requires]
python_version = "3.9"
