awscli==1.18.199
slackclient==2.9.3
pyspellchecker==0.6.2
ansible==5.7.1
ansible-runner==1.4.2
rsa==3.4.2
paramiko==2.6.0
pyminizip===0.2.6
google-cloud-storage==1.29.0
google-cloud-bigquery==1.26.1
prettytable==0.7.2
circleci==1.2.2
boto3==1.16.39
mock-open==1.4.0
PyGithub==1.54.1
python-gitlab==2.6.0
xmltodict==0.12.0