[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "==5.0.1"
pytest-mock = "*"
requests-mock = "*"
pytest-asyncio = "*"

[packages]
demisto-sdk = "1.10.3"
devodsconnector = "3.0.2"
cryptography = "39.0.1"
pyOpenSSL = "23.0.0"

[requires]
python_version = "3.7"
