[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"    # already in linter, but added to dev group

[packages]
pygithub = "*" # done in ci
requests = "*" # in dev group, to add to ci?
blessings = "*" # done in ci
dateparser = "*" # added to ci
slack_sdk = "*" # in ci
GitPython = "*" # Aadded to ci
demisto-sdk = "*"   # added to ci, but demisto_sdk in dev, same?

[requires]
python_version = "3.9"
