[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
flake8 = "*"
astroid = "*"
pytest-mock = "*"

[packages]
ldap3 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
