[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
pytest-asyncio = "*"
pytest-xdist = "*"
pytest-datadir-ng = "*"
freezegun = "*"
pytest-json = "*"
flake8 = "*"

[packages]
certifi = "==2020.6.20"
cffi = "==1.14.3"
chardet = "==3.0.4"
click = "==7.1.2"
cryptography = "==3.2.1"
dateparser = "==0.7.6"
funcy = "==1.15"
gevent = "==20.9.0"
greenlet = "==0.4.17"
idna = "==2.10"
itsdangerous = "==1.1.0"
jwt = "==1.1.0"
netaddr = "==0.8.0"
olefile = "==0.46"
pycparser = "==2.20"
python-dateutil = "==2.8.1"
pytz = "==2020.1"
regex = "==2020.9.27"
requests = "==2.24.0"
requests-file = "==1.5.1"
six = "==1.15.0"
tldextract = "==2.2.3"
tzlocal = "==2.1"
urllib3 = "==1.25.10"
"zope.event" = "==4.5.0"
"zope.interface" = "==5.1.2"
Flask = "==1.1.2"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
PyJWT = "==1.7.1"
PySocks = "==1.7.1"
PyYAML = "==5.3.1"
Werkzeug = "==1.0.1"

[requires]
python_version = "3.7"
