[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"

[packages]
numpy = "==1.14.0"
pandas = "==0.22.0"
requests = "==2.18.4"

[requires]
python_version = "2.7"
