[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "==5.0.1"
pytest-mock = "*"
requests-mock = "*"
pytest-asyncio = "*"

[packages]
pytest = "*"
requests = "*"
splunk-sdk = "==1.6.12"
splunklib = "==1.0.0"

[requires]
python_version = "3.8"
