[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
pytest-xdist = "*"
flake8 = "*"

[packages]
docopt = "==0.6.2"
virtualenv = "==15.0.3"
"stomp.py" = "==4.1.20"

[requires]
python_version = "2.7"
