[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "==5.0.1"
pytest-mock = "*"
requests-mock = "*"
pytest-asyncio = "*"

[packages]
cachetools = "*"
certifi = "*"
chardet = "*"
google-api-core = "*"
google-auth = "*"
google-cloud-vision = "*"
googleapis-common-protos = "*"
grpcio = "*"
idna = "*"
protobuf = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pytz = "*"
requests = "*"
rsa = "*"
six = "*"
urllib3 = "*"
oauth2client = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
httplib2 = "*"

[requires]
python_version = "3.7"
