[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
pytest-xdist = "*"
pytest-json = "*"
flake8 = "*"

[packages]
cachetools = "==3.1.1"
certifi = "==2020.4.5.1"
chardet = "==3.0.4"
dateparser = "==0.7.2"
funcy = "==1.14"
futures = "==3.3.0"
google-api-core = "==1.17.0"
google-api-python-client = "==1.8.2"
google-auth = "==1.14.1"
google-auth-httplib2 = "==0.0.3"
google-cloud-core = "==1.3.0"
google-cloud-storage = "==1.28.0"
google-resumable-media = "==0.5.0"
googleapis-common-protos = "==1.51.0"
httplib2 = "==0.17.3"
idna = "==2.9"
oauth2client = "==4.1.3"
olefile = "==0.46"
protobuf = "==3.11.3"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
python-dateutil = "==2.8.1"
pytz = "==2019.3"
regex = "==2020.1.8"
requests = "==2.23.0"
rsa = "==4.0"
six = "==1.14.0"
tzlocal = "==2.0.0"
uritemplate = "==3.0.1"
urllib3 = "==1.25.9"
PySocks = "==1.7.1"
PyYAML = "==5.3"

[requires]
python_version = "2.7"
