[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "==5.0.1"
pytest-mock = "*"
requests-mock = "*"
pytest-asyncio = "*"

[packages]
pytest = "*"
requests = "*"
cryptography = "*"
cffi = "*"
pancloud = "==2.0.0a2"

[requires]
python_version = "3.8"
