[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
flake8 = "*"

[packages]
oauth2client = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
httplib2 = "*"


[requires]
python_version = "2.7"
