[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
flake8 = "*"

[packages]
certifi = "==2018.11.29"
chardet = "==3.0.4"
dateparser = "==0.7.0"
future = "==0.17.1"
idna = "==2.8"
olefile = "==0.46"
python-dateutil = "==2.8.0"
pytz = "==2018.9"
regex = "==2019.2.7"
requests = "==2.21.0"
six = "==1.12.0"
tzlocal = "==1.5.1"
urllib3 = "==1.24.1"
vertica-python = "==0.8.2"
PyYAML = "==3.13"

[requires]
python_version = "3.7"
