[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest-mock = "*"
autopep8 = "*"

[packages]
exchangelib = "==1.10.7"
flake8 = "*"

[requires]
python_version = "2.7"
