[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "==5.0.1"
pytest-mock = "*"
requests-mock = "*"
pytest-asyncio = "*"

[packages]
google = "*"
google-search-api = "*"
pyping = "*"
threatconnect = "*"
psycopg2 = "*"
pdfx = "*"
pypdf2 = "*"
splunk-sdk = "*"
pyyaml = "*"
python-libnmap = "*"
dxlclient = "*"
dxlmarclient = "*"
dxltieclient = "*"
lxml = "*"
langdetect = "*"
pyvim = "*"
pyvmomi = "*"
pytest = "*"
requests = "*"
pykwalify = "*"
mock = "*"
mocker = "*"
pytest-mock = "*"
unittest-mock = "*"

[requires]
python_version = "3.7"
