[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
pytest-asyncio = "*"

[packages]

[requires]
python_version = "2.7"
